{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="bg-dark"  style="height: 75px !important">
    <br />
   <div class="bannerinsideInner" >
    <h2 class="text-white">MY ACCOUNT </h2>
  </div>
</div>

<div class="container">
    <div class="alert">
    <ul style="list-style: none; display: flex; justify-content: space-evenly;" class="text-dark">
        <li> <a class="btn btn-link text-warning" href="{% url 'dashboard' %}">My Investment</a></li>
        <li> <a class="btn btn-link text-warning" href="#">Account Settings</a></li>
        <li> <a class="btn btn-link text-warning" href="#">Change Password</a></li>
    </ul>
    </div>    
</div>

    <div class="row my-3 bg-white" >
        <div class="col-12 p-5 bg-white text-dark">
            <div class="container">
                
                <h2 align="center">Complete Your Investment Deposit</h2>
                <p align="center" class="text-info fw-bold">Send your bitcoins to the address below:</p>

              <h1 align="center">{{investment.btcdeposit}}</h1>
            </div>
            <div class="container">
              <center>
                <input type="text" class="form-control" style="border: 0; text-align: center" disabled value="19vT6RYnsHiqKWjR7bWoXQirduDEYJuPVx" />
                <br />
              </center>
            </div>
            <div class="container">
              <p align="center"><strong>Awaiting Investment Deposit</strong></p>
              <p align="center" class="text-warning">Status: &nbsp; Pending Aproval </p>
              
            </div>
            <hr>

        </div>
        <br />
        <br />
        <center>
          <a href="{% url 'dashboard' %}" class="btn btn-success btn-lg">Payment done? Continue...</a>

        </center>
    </div>

<div class="contentContainer">


  <div class="mining-locations">
		<div class="contentInner">
		
			<h3>Our mining locations map</h3>
			
			<ul>
				<li><i>1</i>Ghana, Western Africa</li>
				<li><i>2</i>Johannesburg, South Africa</li>
				<li><i>3</i>New South Wales, Australia</li>
				<li><i>4</i>Papua, Indonesia</li>
				<li><i>5</i>Cuyuni-Mazaruni, Guyana</li>
				<li><i>6</i>Potosi, Bolivia</li>	
			</ul>
		
		</div>
  </div>
  





</div>
</div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $("input[name='deposit']").keyup(function(){
    $.getJSON( "https://api.coindesk.com/v1/bpi/currentprice/usd.json", 
        function( data) {
            var planname = $('#planname').val()
            $("#msg").hide()
            $("#msg").removeClass('alert-danger')
            if(planname == ''){
                $("#msg").text("Plan name cannot be empty")
                $("#msg").addClass('alert-danger')
                $("#msg").show()
                return false
            }
            var plandev = parseFloat(planname)
            var planroi = parseFloat((plandev * 30)/100)
            
            var amountdeposit = parseFloat($("input[name='deposit']").val())

            var btcamount = data.bpi.USD.rate_float

            var btcdeposited = (amountdeposit/btcamount).toFixed(8)


            var amountreturn = (parseFloat(amountdeposit * planroi)).toFixed(2)
            
            var btcreturn = (amountreturn / btcamount).toFixed(8)
            $("#amountreturn").val(amountreturn)
            $("#btcdeposit").text(btcdeposited)
            $("#btcreturn").text(btcreturn)
            document.getElementById('btcdepositinput').value = btcdeposited
            document.getElementById('btcreturninput').value = btcreturn
            // amountdeposit, amountreturn, btcdeposited, btcreturn
        });
    });


    $("select[name='planname']").change(function(){
    $.getJSON( "https://api.coindesk.com/v1/bpi/currentprice/usd.json", 
        function( data) {
            var amountdeposited = $('#amountdeposit').val()
            $("#msg").hide()
            $("#msg").removeClass('alert-danger')
            if(amountdeposited == ''){
                
                return false
            }
            var planname = $('#planname').val()

            var plandev = parseFloat(planname)
            var planroi = parseFloat((plandev * 30)/100)
            
            var amountdeposit = parseFloat($("input[name='deposit']").val())

            var btcamount = data.bpi.USD.rate_float

            var btcdeposited = (amountdeposit/btcamount).toFixed(8)


            var amountreturn = (parseFloat(amountdeposit * planroi)).toFixed(2)
            
            var btcreturn = (amountreturn / btcamount).toFixed(8)
            $("#amountreturn").val(amountreturn)
            $("#btcdeposit").text(btcdeposited)
            $("#btcreturn").text(btcreturn)
            document.getElementById('btcdepositinput').value = btcdeposited
            document.getElementById('btcreturninput').value = btcreturn
            // amountdeposit, amountreturn, btcdeposited, btcreturn
        });
    });

    $("#investform").on('submit', function(e){
      e.preventDefault()
      const planplanname = $('#planname').val();
      const amountdeposit = $('#amountdeposit').val();
      const amountreturn = $('#amountreturn').val();
      const btcreturninput = $('#btcreturninput').val();
      const btcdepositinput = $('#btcdepositinput').val();
      $('.loader-cont').show()
      var data = {
        'plan' : planplanname,
        'deposit' : amountdeposit,
        'amountreturn' : amountreturn,
        'btcdeposit' : btcdepositinput,
        'btcreturn' : btcreturninput,
      }

      setTimeout(() => {
        fetch('/api/invest/' , {
          method : 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body : JSON.stringify(data)
        }).then(result => result.json())
        .then(result=>{
          if(result.status == false || result.status == 'false'){
            $("#report").text (result.message)
            $('#report').show()
            $('.loader-cont').hide()
            return false;
          }
           alert('Investement added... redirecting....')
          window.location.assign('{% url "dashboard" %}')
        })

      }, 2000);
    })

    $("#copyText").on('click', function(){
      /* Get the text field */
      var copyText = document.getElementById("myInput");

      /* Select the text field */
      copyText.select();
      

      /* Copy the text inside the text field */
      var command = document.execCommand('copy');

      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    })
</script>
{% endblock %}