{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="bannerContainer">
 
 

 <div class="bannerinsideInner">
    <h2>About Us</h2>
  </div>
</div>


  <div class="contentContainer">
    <div class="contentInner">
      <div class="ctn-left fadeInLeft wow">
   <h3>About WhalesCrypto </h3>
        <p>WhalesCrypto was fully incorporated  "WhalesCrypto Investment" We are involved in the exploration of potential properties for mining operations around the world, as well as the further development of existing operations. Our primary focus is on the mining of metals such as gold, silver, and copper. <br>
          We have opened our company to private investment for the purposes of allowing us to purchase additional equipment and explore new locations for the acquiring, mining, and marketing of resources. We have several plans to allow you a generous return on your deposit regardless of your investment amount. <br>
          You are invited to join this exclusive opportunity to benefit from the precious metals mining industry, where it is possible to reap enourmous profits and is expected to grow in the near future. We also extend to you a lucrative offer for additional gains by referring new members to our multi-level referral system. <br>
          <span>Join WhalesCrypto today, it is fast and free to become a new member!</span> </p>
      </div>
      <div class="ctn-right fadeInRight wow">
        <div class="ctRight-top">
          <h3><span>Company</span> Documents</h3>
        </div>
        <div class="ctRight-bot"> <img src="{% static 'public/styles/images/ct-img3.png' %}">
          <div class="ctn-right-bot-title"> <a href="https://beta.companieshouse.gov.uk/" target="new">View full company information</a> </div>
        </div>
      </div>
  
    </div>
</div>
<div class="contentContainer">


  <div class="mining-locations">
		<div class="contentInner">
		
			<h3>Our mining locations map</h3>
			
			<ul>
				<li><i>1</i>Ghana, Western Africa</li>
				<li><i>2</i>Johannesburg, South Africa</li>
				<li><i>3</i>New South Wales, Australia</li>
				<li><i>4</i>Papua, Indonesia</li>
				<li><i>5</i>Cuyuni-Mazaruni, Guyana</li>
				<li><i>6</i>Potosi, Bolivia</li>	
			</ul>
		
		</div>
  </div>
  

  <!--
  <div class="inside_inner">
    <div class="about_block zoomIn wow">
      <div class="image_left"><img src="../styles/images/misc/who-we-are.png" alt="Who We Are" class="bounce wow"></div>
      <div class="content_right">
        <h2 class="header-section">Who We Are</h2>
        <p>Nam condimentum enim sed enim egestas, vel dictum enim aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eget nulla tincidunt, commodo nunc id, condimentum mauris. Curabitur id quam at magna auctor tempus ac eu mi. Ut vitae elit efficitur, mattis est sit amet, lacinia felis. Integer quis elementum felis, ut dapibus nisl. Aliquam ex velit, fringilla vel felis non, lacinia tincidunt nisi. Suspendisse lobortis a nisl ac pulvinar.</p>
      </div>
    </div>
    <div class="about_block zoomIn wow">
      <div class="image_left"><img src="../styles/images/misc/how-we-trade.png" alt="How We Trade" class="bounce wow"></div>
      <div class="content_right">
        <h2 class="header-section">How We Trade</h2>
        <p> Nam condimentum enim sed enim egestas, vel dictum enim aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eget nulla tincidunt, commodo nunc id, condimentum mauris. Curabitur id quam at magna auctor tempus ac eu mi. Ut vitae elit efficitur, mattis est sit amet, lacinia felis. Integer quis elementum felis, ut dapibus nisl. Aliquam ex velit, fringilla vel felis non, lacinia tincidunt nisi. Suspendisse lobortis a nisl ac pulvinar.</p>
      </div>
    </div>
    <div class="about_block zoomIn wow">
      <div class="image_left"><img src="../styles/images/misc/what-we-offer.png" alt="What We Offer" class="bounce wow"></div>
      <div class="content_right">
        <h2 class="header-section">What We Offer</h2>
        <p> Nam condimentum enim sed enim egestas, vel dictum enim aliquam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eget nulla tincidunt, commodo nunc id, condimentum mauris. Curabitur id quam at magna auctor tempus ac eu mi. Ut vitae elit efficitur, mattis est sit amet, lacinia felis. Integer quis elementum felis, ut dapibus nisl. Aliquam ex velit, fringilla vel felis non, lacinia tincidunt nisi. Suspendisse lobortis a nisl ac pulvinar.</p>
      </div>
    </div>
  </div>
  -->




</div>
</div>
  </div>
</div>
{% endblock %}