{% extends 'main/base.html' %}
{% load static %}
{% block content %}


<div class="bannerContainer">
 
 
<div class="bannerinsideInner">
    <h2>Frequently Asked Questions</h2>
  </div>
</div>


<div class="inside_wrap">
  <div class="inside_inner">
  <div class="accordion fadeIn wow">
  
  <h2 style="color:black;">About Us</h2>
  
  <font color="#122732">
    <dl>
      <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion1" aria-expanded="false" href="#accordion1">What is WhalesCrypto?</a> </dt>
      <dd aria-hidden="true" id="accordion1" class="accordion-content accordionItem is-collapsed">
        <p>
whalescrypto was fully incorporated in the United Kingdom as "UK Precious Metals Exploration & Mining, Ltd." We are involved in the exploration of potential properties for mining operations around the world, as well as the further development of existing operations.

		</p>
     

	 </dd>
      
          <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion2" aria-expanded="false" href="#accordion2">How does WhalesCrypto earn profits for its members?</a> </dt>
      <dd aria-hidden="true" id="accordion2" class="accordion-content accordionItem is-collapsed">
        <p>We have opened our company to private investment for the purposes of allowing us to purchase additional equipment and explore new locations for the acquiring, mining, and marketing of resources. We have several plans to allow you a generous return on your investment amount. 
		</p>
      </dd>
    
    


<h2>Deposits</h2>


	<dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> What deposit methods do you accept? </a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>We accept deposits Bitcoin </p>
      </dd>
      <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> What is the minimum amount of deposit?</a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p> The minimum deposit amount is 10 USD or equivalent amount in BTC at current rate.</p>
      </dd>
      <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> What is the maximum deposit amount? </a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>The maximum deposit amount is 50,000 USD or equivalent amount in BTC at current rate. 
</p>
      </dd>
      <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> Are BTC deposits credited in USD?</a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>Yes, all BTC deposits are first converted to USD at our current fixed rate. </p>
      </dd>
      <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> What is the USD rate for BTC? </a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>This depends on BTC market price, currently 1 BTC is {{coins.bpi.USD.rate}}. This will ensure you earn a constant profit regardless of flucuations in BTC value. </p>
      </dd>
      <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> How long does it take for my deposit to be credited? </a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>Deposits using BTC are credited automatically after 3 confirmations.</p>
      </dd>
     
      
	  
	  <h2>Withdrawals</h2>
	  
	  
	  
	  <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> When will I see earnings in my account?</a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>You will see earnings in your account exactly every 24 hours after the time of your first deposit. </p>
      </dd>
      <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> Are earnings on business days or calendar days?</a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p> Earnings are 7 days a week for 30 calendar days. 
		
		</p>
    

	</dd>
      <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3">  Is principal returned after plan expiry? </a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>No, principal in included with your daily earnings and is not returned after expiry. </p>
      </dd>
    
	    <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3">  What is the minimum amount for withdrawal? </a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>The minimum withdrawal amount is 0.50 USD.  </p>
      </dd>
    
	
		    <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3">   Are withdrawals instant? </a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>Yes, withdrawals up to $500 are credited instantly</p>
      </dd>
    

			    <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3">   What if my withdrawal was not instant and went to "pending"?</a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>There can be some technical reasons why your withdrawal went to pending instead of being credited instantly. If this happens, please do not panic, our staff will manually process your withdrawal within hours. </p>
      </dd>
    
	
	
	 

<h2>Security</h2>




	 <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> How can I change my payment accounts? </a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>For security purposes, we do not allow your payment accounts to be changed after they are entered. To change any payment account information, you must contact our support and we will change it for you. This is for your own protection so hackers cannot withdraw your funds in the event your account has been hacked.  </p>
      </dd>
	  
	   <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3">I have forgotten my password, how can I recover it?
</a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>To recover your password, please use the "Remember your login information" at the login page. </p>
      </dd>
	  
	  
	   <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3">Is WhalesCrypto protected against DDOS attacks? </a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>Yes, we are hosted with a trusted DDOS protection provider DDOS-Guard and use the highest level of protection.</p>
      </dd>
	  
	   <dt> <a class="accordion-title accordionTitle js-accordionTrigger" aria-controls="accordion3" aria-expanded="false" href="#accordion3"> How is WhalesCrypto protected against hackers?</a> </dt>
      <dd aria-hidden="true" id="accordion3" class="accordion-content accordionItem is-collapsed">
        <p>Our site is encrypted with 256 bit encryption from Comodo with an Extended Validation EV SSL. In addition, all of our data is reguarly backed up for restoration in the event of any data loss. </p>
      </dd>
	  
	  
    </dl>
	</font>

<style>
.ft-logo {
    background: url(images/ft-logo.html) no-repeat center left;
    width: 160% ! important;
    margin-bottom: 5px;
    height: 36px; 
    float: left;
}
</style>


</div>
</div>
  </div>
</div>

{% endblock %}



