{% extends 'main/base.html' %}

{% block content %}

<div class="bannerContainer">
  <div class="bannerInner">
    <div class="banner fadeInUp wow">
    
	<h3>Metals Exploration & Mining</h3>
      <p>whalescrypto.com was incorporated  as "Whales Crypto  <br>
     Cloud" We are involved in the exploration of <br>
        properties for mining operations around the world.</p>
        
                 
        {% if request.user.is_authenticated %}
        <a href="{% url 'dashboard' %}">My Account</a> 
        {% else %}
        <a href="{% url 'signuppage' %}">Register Now</a> 
      {% endif %}
	  
	  </div>
	  


  </div>
</div>



<div class="statictisContainer">
  <div class="statictisInner fadeInLeft wow">
    
	
	<div class="stt-part stt-part2">
      <h3>132</h3>
      <p>Running Days</p>
    </div>
	
	 <div class="stt-part stt-part4">
      <h3>94100</h3>
      <p>Total Investors</p>
    </div>
	
	
	<div class="stt-part stt-part1">
      <h3>$ 6100399</h3>
      <p>Total Investments </p>
    </div>
    
    <div class="stt-part stt-part3">
<h3>$ 90064
</h3>
      <p>Revenue Paid</p>
    </div>
   
  </div>
</div>


<div class="contentContainer">


 <div class="dailyInner">
    <div class="dl-top">
      <div class="daily-row daily-row1 fadeInLeft wow">
        <div class="daily-title">
          <h3>Copper Plan</h3>
        </div>
        <div class="ctn-daily-mid">
          <p>Daily for 7 Calendar Days</p>
          <h3><span>150% </span>Total ROI</h3>
          <a href="#">Principal Included</a> </div>
        <h3>$10 - $1,999 Deposit Amount</h3>
      </div>
      <div class="daily-row daily-row2 fadeInUp wow">
        <div class="daily-title">
          <h3>Silver Plan</h3>
        </div>
        <div class="ctn-daily-mid">
          <p>Daily for 7 Calendar Days</p>
          <h3><span>165% </span>Total ROI</h3>
          <a href="#">Principal Included</a> </div>
        <h3>$2,000 - $9,999 Deposit Amount</h3>
      </div>
      <div class="daily-row daily-row3 fadeInRight wow">
        <div class="daily-title">
          <h3>Gold Plan</h3>
        </div>
        <div class="ctn-daily-mid">
          <p>Daily for 7 Calendar Days</p>
          <h3><span>180% </span>Total ROI</h3>
          <a href="#">Principal Included</a> </div>
        <h3>$10,000 - $50,000 Deposit Amount</h3>
      </div>
    </div>
  </div>

  <div class="contentInner">
    <div class="ctn-left fadeInLeft wow">
      <h3><span>About</span> Whalescrypto.com</h3>
      <p>Whalescrypto.com was fully incorporated as "WhalesCrypto." We are involved in the exploration of potential properties for mining operations around the world, as well as the further development of existing operations. Our primary focus is on the mining of metals such as gold, silver, and copper. <br>
        We have opened our company to private investment for the purposes of allowing us to purchase additional equipment and explore new locations for the acquiring, mining, and marketing of resources. We have several plans to allow you a generous return on your deposit regardless of your investment amount. <br>
        You are invited to join this exclusive opportunity to benefit from the precious metals mining industry, where it is possible to reap enourmous profits and is expected to grow in the near future. We also extend to you a lucrative offer for additional gains by referring new members to our multi-level referral system. <br>
        <span>Join whalescrypto.com today, it is fast and free to become a new member!</span> </p>
		
		
	
		
    </div>
    <div class="ctn-right fadeInRight wow">
      <div class="ctRight-top">
     
      </div>
      <div class="ctRight-bot"> <img src="styles/images/ct-img2.png">
      
      </div>
    </div>

  </div>
</div>







<div class="statictisContainer">
  <div class="statictisInner fadeInLeft wow">
	 
	 
	 
	 
	  
	  <div class="stats-left pull-left">
		
		<div class="news_block news-home">
			
			<h3>Latest News</h3>
			
        			<div class="news-content">
			
									<h4>MICHEAL SMITH</h4>
					<div class="news-date">June-20-2021 07:50:11 AM</div>
				  <p>I've been a member of Whales Crypto Cloud  for only 51 days and my life has already changed! Not only have made my $12K,but  i've also met some of the most incredible people in the process.Thanks whalescrypto<br></p>
				  <a href="#" class="btn btn-info">Read More</a>
				  
							</div>
										<div class="news-content">
			
									<h4>CLARA J.</h4>
					<div class="news-date">May-19-2021 08:09:20 AM</div>
				  <p>SURPRISINGLY, I used to be an investor on Wall Street.And I"ve never seen anything like this in my 10 years tenure at the company,My colleagues all thought i was crazy when i quit the firm to invest with the whalescrypto.com full time $28,345 in profit later,all of my colleagues are now BEGGING me to let them in <br></p>
				  <a href="#" class="btn btn-info">Read More</a>
				  
							</div>
									</div>
	  
	 
	 
	  <!--
	  
	  
	  <div class="stats-left pull-left" align="center">
		
	
<div class="fb-page" data-href="https://www.facebook.com//" data-tabs="timeline" data-height="350"  data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/">whalescrypto.com</a></blockquote></div>
	
	  
	    -->
	  
	  
	  </div>
	  
	
	  
	  <div class="stats-left pull-right">
			  
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Um63OQz3bjo" frameborder="0" allowfullscreen></iframe>
			
    </div>
    
  </div>
</div>



<!-- <div class="latestContainer">
  <div class="latestInner">
    <div class="ctn-latest-part1 fadeInLeft wow">
      <div class="ctn-title">
        <h1>Latest <span>Deposits</span></h1>
      </div>
            <ul>
               
                     
        
              </ul>
       </div>
    <div class="ctn-latest-part1 latest-part2 fadeInRight wow">
      <div class="ctn-title ctn-title2">
        <h1>Latest <span>Withdrawals</span></h1>
      </div>
            <ul>
                                
                
              </ul>
       </div>
  </div>
</div> -->

{% endblock %}